{% extends 'blog.html' %}

{% block title %} {{ post.title }} {% endblock title %}

{% block content %}

<h3>{{ post.title }}</h3>


<article>
{{ post.body }}
</article>

<hr>
{% with post.tags.all as all_tags %}
    {% if all_tags %}
    <p>Tags: 
    {% for tag in all_tags %}
    <a href="{% url 'blog:posts_list_by_tag' tag.slug %}" class="text-decoration-none">{{ tag.name }}</a>
    {% if not forloop.lst %}, {% endif %}
    {% endfor %}    
    
    </p>
    {% else %}
    <p>Not tags selected. </p>
    {% endif %}    
{% endwith %}

<hr>
<ul class="list-group">
<li class="list-group-item active">Related Post</li>
{% if similar_posts %}

    {% for r_post in similar_posts %}
    <li class="list-group-item">
        <a href="{{ r_post.get_absolute_url }}" class="text-decoration-none">{{ r_post.title }}</a>
    </li>
    {% endfor %}

{% else %}
<li class="list-group-item">There are no related posts. </li>
{% endif %}
</ul>
<hr>
{% with comments.count as  total_comments %}
<h2>{{ total_comments }} Comment{{ total_comments | pluralize}} </h2>
{% endwith %}
<hr>

{% for comment in comments %}


<div class="card card-body mb-2">
    <strong>Comment {{ forloop.counter }} by {{ comment.name }} <small>{{ comment.created }}</small></strong>
    <p>{{ comment.body | linebreaks }}</p>
</div>
{% empty %}
<p>There are no comments yet. </p>
{% endfor %}

{% if new_comment %}
    <h3>Your comment has been added.</h3>

{% else %}
<h3>Add new comment </h2>
<form method="post" action="" class="mb-4">
    {% csrf_token %}
    {{ comment_form.as_p }}

    <button type="submit" class="btn btn-primary">Add Comment </button>
</form>
{% endif %}


{% endblock content %}