{% extends 'blog.html' %}
{% load static %}
{% block title %}Post List {% endblock title %}


{% block content %}
    <div class="row">
        {% if tag %}
        <h4>Posts tagged with "{{ tag.name }}"</h4>
        <hr>
        {% endif %}

        {% for post in posts %}
        
        <div class="col-md-12">
           <h3>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h3>
            <p>Publish date: {{ post.publish }} By <a href="#">{{ post.author }}</a></p>
            <article>
                {{ post.body | truncatechars:60 | linebreaks}}
            </article>
        </div>
        
        {% endfor %}
        
        {% include '../partial/pagination.html' with page=posts %}
        {% comment %} {% include '../partial/pagination.html' with page=page_obj %} {% endcomment %}
    </div>
{% endblock content %}